div#menu{
    background: rgb(68, 45, 94);
    min-height: 100vh;
}
form {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display:table;
}
select, button{
    font-size: 30px;
    direction: rtl;
    align-content: center;
    padding: 5px;
    margin:7.5px auto ;
    display:table;
}
a{
    text-decoration: none;
    color: black;
}
p{
    font-size: 40px;
    text-align: center;
    direction: rtl;
    padding:9% 30%;
}
#logout{
    margin:10% 45%;
}