<div class='container' id="menu">
    <div id="all" class='col'>
        <div class="row">
            <div class="col-xs-12">
                <div class="text-right">
                    <button type="button" class="btn btn-default" routerLink="/login">התנתק</button>
                </div>
            </div>
        </div>
        <div class="page-header font-weight-bold text-right" id="head">
                <h1>,שלום איש צוות</h1>
        </div>
        <div id="bar">
            <nav id="nev" class=" nav nav-pills flex-column flex-sm-row p-2 mb-2 bg-primary text-white font-weight-bold">
                    <a class="flex-sm-fill text-sm-center nav-link text-white" href="/form">הוסף איש צוות</a>
                    <div class="btn-group" dropdown>
                        <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle font-weight-bold"
                                aria-controls="dropdown-basic">
                          יומנים   <span class="caret"></span>
                        </button>
                        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                            role="menu" aria-labelledby="button-basic">
                            <li class="dropdown-header">צוות</li>
                            <li role="menuitem"><a class="dropdown-item" href="#">אלחנן</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">ויסאם</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">אלון</a></li>
                            <li class="divider dropdown-divider"></li>
                            <li class="dropdown-header">דיירים</li>
                            <li role="menuitem"><a class="dropdown-item" href="#">דייר1</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">דייר2</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">דייר3</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">דייר4</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">דייר5</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">דייר6</a></li>
                        </ul>
                      </div>
                    <a class="flex-sm-fill text-sm-center nav-link text-white" href="/form"> הוסף דייר</a>
                    <a class="flex-sm-fill text-sm-center nav-link text-white"  href="/form">הוסף אירוע</a>
                    <a class="flex-sm-fill text-sm-center nav-link active text-white" href="/manu">בית</a>  
            </nav>  
        </div> 
    </div>
    <app-calendar></app-calendar>
</div>