

#head{
    margin-bottom: 20px;
}
#bar{
    font-size: 20px;
    width: 100%;
   
}
#nev{
    border-radius: 15px;   
    margin-top: 10px;
    padding-bottom: 20px;
    background-color:darkgreen;
    
    
    
}
select{
    padding-top:0px;
    margin-top:0px;
    direction: rtl;
    background-color: darkgreen;
    border: none;
}