<div class='container' id="menu">
    <div id="all" class='col'>
        <div class="row">
            <div class="col-xs-12">
                <div class="text-right">
                    <button type="button" class="btn btn-default" routerLink="/login">התנתק</button>
                </div>
            </div>
        </div>
        <div class="page-header font-weight-bold text-right" id="head">
                <h1>,שלום איש צוות</h1>
        </div>
        <div id="bar">
            <nav id="nev" class=" nav nav-pills flex-column flex-sm-row p-2 mb-2 bg-primary text-white font-weight-bold">
                    <a class="flex-sm-fill text-sm-center nav-link text-white" href="/add-staff">הוסף איש צוות</a>
                    <a class="flex-sm-fill text-sm-center nav-link text-white" routerLink="/add-resident"> הוסף דייר</a>
                    <div class="btn-group" dropdown>
                        <select class="btn btn-primary dropdown-toggle font-weight-bold " title="קבע אירוע לדייר" #tem (change)="navigateTo('/event');sendVal(tem.value);" >
                            <option selected disabled hidden >הוסף אירוע</option>
                            <optgroup label="איש צוות">
                            <option  [value]="user" *ngFor = "let user of staff" >{{user}}</option>
                        </optgroup>
                        <optgroup label="דיירים">
                            <option  [value]="user" *ngFor = "let user of residents" >{{user}}</option>
                        </optgroup>
                        </select>
                    </div>
                    <div class="btn-group" dropdown>
                            <select class="btn btn-primary dropdown-toggle font-weight-bold " title="יומנים" #tem (change)="navigateTo('/calendar');sendVal(tem.value);" >
                                <option selected disabled hidden >יומנים</option>
                                <optgroup label="איש צוות">
                                <option  [value]="user" *ngFor = "let user of staff" >{{user}}</option>
                            </optgroup>
                            <optgroup label="דיירים">
                                <option  [value]="user" *ngFor = "let user of residents" >{{user}}</option>
                            </optgroup>
                            </select>
                    </div>
                    <a class="flex-sm-fill text-sm-center nav-link active text-white" routerLink="/menu">בית</a>  
            </nav>  
        </div> 
    </div>
    <app-calendar></app-calendar>
</div>