<div id="menu">
<p>
  שלום בן, מה ברצונך לעשות?
</p>
<form>
    <select #tem (change)="navigateTo('/event');sendVal(tem.value);" >
        <option selected disabled hidden >קבע אירוע לדייר</option>
        <option  [value]="user" *ngFor = "let user of users" >{{user}}</option>
    </select>
    <select (change)="navigateTo($event.target.value)">
        <option selected disabled hidden >צפה ביומן של</option>
        <option value="calendar" *ngFor = "let user of users">{{user}}</option>
    </select>
    <button><a routerLink="/add-staff" >הוספת איש צוות למאגר</a></button>
    <button><a routerLink="/add-resident" >הוספת דייר למאגר</a></button>
</form>
<button id = "logout"><a routerLink="/login" >התנתק</a></button>
</div>