.container{
    background: rgba(34,34,34,0.75);
    border-radius: 15px;
    font-size: 16px;
    color:white;
    direction: rtl;
    text-align: right;
}
form label {
    width: 150px;
      padding-right: 20px;
      display: inline-block;
      text-align:right;
      font-weight:bold;
  }
  
  form input[type=text] {
    width: 100px;
    display: inline-block;
  }
  form input.viewMode {
    display: none;
  }
  
  form input.editMode {
    display:auto;
    color:black;
  }
  
  form select.viewMode {
    display:none;
  }
  
  form select.editMode {
    display:auto;
  }
  
  form .displayValue.viewMode{
    display:auto;
  }
  
  form .displayValue.editMode {
    display:none;
  }
  
  .error {
    color:red;
  }
  
  .viewButton.viewMode {
    display:auto;
  
  }
  
  .viewButton.editMode {
    display:none;
  
  }
  
  .editButton.viewMode {
    display:none;
  }
  
  .editButton.editMode {
    display:auto;
  }
  .editButton , .viewButton{
    color:black;
    border-radius: 15px;
  
    
  }
  ::ng-deep .mat-input-wrapper{
    width:60px !important;
  }
