<!-- <div class="container">
    <div *ngIf="selected.className=='staff'">
        <h2>איש צוות {{name}}</h2>
        <div class="row">
        <div class="col-xs-3">שם+משפחה: </div>
        <div class="col-xs-9  pull-right">{{ selected.firstName }} {{ selected.lastName }}</div>
        </div>
        <div class="row">
        <div class="col-xs-3">מספר טלפון:</div>
        <div class="col-xs-9 pull-right">{{ selected.phoneNumber }}</div>
        </div>
        <div class="row">
        <div class="col-xs-3">דואר אלקטרוני:</div>
        <div class="col-xs-9 pull-right">{{ selected.email }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">גיל:</div>
            <div class="col-xs-9 pull-right">{{ getAge(selected.birthday) }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">תפקיד:</div>
            <div class="col-xs-9 pull-right">{{ selected.role }}</div>
        </div>
        <br>
        <button class="btn btn-primary" (click)="submitted=false">ערוך</button>
    </div>
    <div *ngIf="selected.className=='resident'">
            <h2>דייר {{name}}</h2>
            <div class="row">
            <div class="col-xs-3">שם+משפחה: </div>
            <div class="col-xs-9  pull-left">{{ selected.firstName }} {{ selected.lastName }}</div>
            </div>
            <div class="row">
            <div class="col-xs-3">מספר טלפון:</div>
            <div class="col-xs-9 pull-left">{{ selected.phoneNumber }}</div>
            </div>
            <div class="row">
            <div class="col-xs-3">מלווה:</div>
            <div class="col-xs-9 pull-left">{{ selected.caretaker }}</div>
            </div>
            <div class="row">
                <div class="col-xs-3">גיל:</div>
                <div class="col-xs-9 pull-left">{{ getAge(selected.birthday) }}</div>
            </div>
            <div class="row">
                <div class="col-xs-3">מתאם טיפול:</div>
                <div class="col-xs-9 pull-left">{{ selected.metaem }}</div>
            </div>
            <div class="row">
                    <div class="col-xs-3">תאריך כניסה:</div>
                    <div class="col-xs-9 pull-left">{{ getSince(selected.memberSince) }}</div>
            </div>
            <hr>
            <div class="row">
                    <div class="col-xs-1">עבודה:</div>
                    <div class="col-xs-4 pull-right">פרטים:
                    {{ selected.work.info }}</div>
                    <div class="col-xs-3 pull-right">מס טלפון:
                    {{ selected.work.phone }}</div>
                    <div class="col-xs-4 pull-right">מיקום:
                    {{ selected.work.location }}</div>
            </div>
            <hr>
            <div class="row">
                    <div class="col-xs-1">רופאים:</div>
                    <div class="col-xs-5 pull-right">פסיכיאטר: {{ selected.doctors.psych }}</div>
                    <div class="col-xs-5 pull-right">רופא משפחה:{{ selected.doctors.gp }}</div>
            </div>
            <hr>
            <div class="row" *ngFor="let item of selected.contacts; let i=index" >
                    <div class="col-xs-1">אנשי קשר:</div>
                    <div class="col-xs-4 pull-right">שם:  {{ selected.contacts[i].name }}</div>
                    <div class="col-xs-4 pull-right">קירבה:  {{ selected.contacts[i].rel }}</div>
                    <div class="col-xs-3 pull-right">פרטי התקשרות:  {{ selected.contacts[i].phone }}</div>
            </div>
            <br>
            <button class="btn btn-primary" (click)="submitted=false">ערוך</button>
        </div>
</div> -->
<h1>Angular2 Simple Edit Form</h1>

<hr />

<h2>Manufacturer</h2>
<div class="container">
  
    <form id="manufacturerForm" name="manufacturerForm"  method="post" novalidate (ngSubmit)="saveManufacturer()" #manufacturerForm="ngForm">
        <div *ngIf="selected.className=='staff'">
        <p>
          <label for="nameInput">שם ומשפחה:</label>
          <input type="text" id="nameInput" name="nameInput"  [ngClass]="pageMode" [(ngModel)]="selected.firstName" required #nameInput="ngModel"/>
          <span class="error"  [hidden]="nameInput.valid || !nameInput.errors.required">Name field is required</span>
          <span class="displayValue" [ngClass]="pageMode">{{selected.firstName}}</span>
      </p>
      <p>
          <label for="accountNumberInput">מספר טלפון :</label>
          <input type="text" id="accountNumberInput" name="accountNumberInput" #accountNumberInput="ngModel" [ngClass]="pageMode" [(ngModel)]="selected.phoneNumber" required minlength="3" [maxlength]="15"/>
          <span class="error"  [hidden]="accountNumberInput.valid || !accountNumberInput.errors.required">Account Number is required</span>
          <span class="error"   [hidden]="accountNumberInput.valid || (!accountNumberInput.errors.minlength && !accountNumberInput.errors.maxlength)">Account Number must be between 3 and 15 chars</span>
          <span class="displayValue"  [ngClass]="pageMode">{{selected.phoneNumber}}</span>
      </p>
      <p>
          <label for="addressLine1Input">דואר אלקטרוני:</label>
          <input type="text" id="addressLine1Input" name="addressLine1Input" [ngClass]="pageMode" [(ngModel)]="selected.caretaker"/>
          <span class="displayValue" [ngClass]="pageMode">{{selected.caretaker}}</span>
      </p>
      <p>
        <label for="ageLine2Input">גיל:</label>
        <input type="text" id="ageLine2Input" name="ageLine2Input" [ngClass]="pageMode" [(ngModel)]="manufacturerForm.ageLine2Input"/>
        <span class="displayValue" [ngClass]="pageMode">{{manufacturerForm.ageLine2Input}}</span>
    </p>
    <p>
        <label for="tfkedLine2Input">תפקיד:</label>
        <input type="text" id="tfkedLine2Input" name="tfkedLine2Input" [ngClass]="pageMode" [(ngModel)]="manufacturerForm.tfkedLine2Input"/>
        <span class="displayValue" [ngClass]="pageMode">{{manufacturerForm.tfkedLine2Input}}</span>
    </p>
    </div>
    <div *ngIf="selected.className=='resident'">
        <p>
            <label for="nameInput">שם ומשפחה:</label>
            <input type="text" id="nameInput" name="nameInput"  [ngClass]="pageMode" [(ngModel)]="selected.firstName" required #nameInput="ngModel"/>
            <span class="error"  [hidden]="nameInput.valid || !nameInput.errors.required">Name field is required</span>
            <span class="displayValue" [ngClass]="pageMode">{{selected.firstName}}</span>
        </p>
        <p>
            <label for="accountNumberInput">מספר טלפון :</label>
            <input type="text" id="accountNumberInput" name="accountNumberInput" #accountNumberInput="ngModel" [ngClass]="pageMode" [(ngModel)]="selected.phoneNumber" required minlength="3" [maxlength]="15"/>
            <span class="error"  [hidden]="accountNumberInput.valid || !accountNumberInput.errors.required">Account Number is required</span>
            <span class="error"   [hidden]="accountNumberInput.valid || (!accountNumberInput.errors.minlength && !accountNumberInput.errors.maxlength)">Account Number must be between 3 and 15 chars</span>
            <span class="displayValue"  [ngClass]="pageMode">{{selected.phoneNumber}}</span>
        </p>
        <p>
            <label for="ageLine2Input">גיל:</label>
            <input type="text" id="ageLine2Input" name="ageLine2Input" [ngClass]="pageMode" [(ngModel)]="manufacturerForm.ageLine2Input"/>
            <span class="displayValue" [ngClass]="pageMode">{{manufacturerForm.ageLine2Input}}</span>
        </p>
        <p>
            <label for="guideInput">מלווה:</label>
            <input type="text" id="guideInput" name="guideInput"  [ngClass]="pageMode" [(ngModel)]="manufacturerForm.guideInput" required #guideInput="ngModel"/>
            <span class="error"  [hidden]="nameInput.valid || !nameInput.errors.required">Name field is required</span>
            <span class="displayValue" [ngClass]="pageMode">{{manufacturerForm.guideInput}}</span>
        </p>
          
        <p>
            <label for="mtaemInput">מתאם טיפול:</label>
            <input type="text" id="mtaemInput" name="mtaemInput"  [ngClass]="pageMode" [(ngModel)]="manufacturerForm.mtaemInput" required #mtaemInput="ngModel"/>
            <span class="error"  [hidden]="mtaemInput.valid || !nameInput.errors.required">Name field is required</span>
            <span class="displayValue" [ngClass]="pageMode">{{manufacturerForm.mtaemInput}}</span>
        </p>


    </div>

        <button type="submit" class="editButton" [ngClass]="pageMode" form="manufacturerForm"  [disabled]="manufacturerForm.invalid">Save</button>
  <button class="editButton" [ngClass]="pageMode" (click)="cancelEdit()">Cancel</button>
     
  </form> 
  
  <button class="viewButton" [ngClass]="pageMode" (click)="editManufacturer()">Edit</button>
  <button class="viewButton" [ngClass]="pageMode" (click)="newManufacturer()">New</button>
  
</div>