
<div class="container">
  
    <form id="viewForm" name="viewForm"  method="post" novalidate (ngSubmit)="saveChanges()" #viewForm="ngForm">
        <div *ngIf="selected.className=='staff'">
        <p>
          <label for="nameInput">שם ומשפחה:</label>
          <input type="text" id="nameInput" name="nameInput"  [ngClass]="pageMode" [(ngModel)]="selected.firstName" required #nameInput="ngModel"/>
          <input type="text" id="lastInput" name="lastInput"  [ngClass]="pageMode" [(ngModel)]="selected.lastName" required #lastInput="ngModel"/>
          <span class="error"  [hidden]="nameInput.valid || !nameInput.errors.required">נדרש שם פרטי</span>
          <span class="error"  [hidden]="lastInput.valid || !lastInput.errors.required">נדרש שם משפחה</span>
          <span class="displayValue" [ngClass]="pageMode">{{selected.firstName}} {{ selected.lastName }}</span>
      </p>
      <p>
          <label for="accountNumberInput">מספר טלפון :</label>
          <input type="text" id="accountNumberInput" name="accountNumberInput" #accountNumberInput="ngModel" [ngClass]="pageMode" [(ngModel)]="selected.phoneNumber" required minlength="3" [maxlength]="15"/>
          <span class="error"  [hidden]="accountNumberInput.valid || !accountNumberInput.errors.required">הזן מספר טלפון</span>
          <span class="error"   [hidden]="accountNumberInput.valid || (!accountNumberInput.errors.minlength && !accountNumberInput.errors.maxlength)">מספר לא חוקי</span>
          <span class="displayValue"  [ngClass]="pageMode">{{selected.phoneNumber}}</span>
      </p>
      <p>
          <label for="caretaker">דואר אלקטרוני:</label>
          <input type="text" id="caretaker" name="caretaker" [ngClass]="pageMode" [(ngModel)]="selected.caretaker"/>
          <span class="displayValue" [ngClass]="pageMode">{{selected.caretaker}}</span>
      </p>
      <p>
        <label for="birthday">גיל:</label>
        <mat-form-field *ngIf="pageMode==='editMode'">
            <input matInput [matDatepicker]="picker" id="birthday" [(ngModel)]="selected.birthday" name="birthday"  required>
            <mat-datepicker-toggle  matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <span class="displayValue" [ngClass]="pageMode">{{getAge(selected.birthday)}}</span>
    </p>
    <p>
        <label for="role">תפקיד:</label>
        <input type="text" id="role" name="role" [ngClass]="pageMode" [(ngModel)]="selected.role"/>
        <span class="displayValue" [ngClass]="pageMode">{{selected.role}}</span>
    </p>
    </div>
    <div *ngIf="selected.className=='resident'">
        <p>
            <label for="nameInput1">שם ומשפחה:</label>
            <input type="text" id="nameInput1" name="nameInput1"  [ngClass]="pageMode" [(ngModel)]="selected.firstName" required #nameInput1="ngModel"/>
            <input type="text" id="lastInput1" name="lastInput1"  [ngClass]="pageMode" [(ngModel)]="selected.lastName" required #lastInput1="ngModel"/>
            <span class="error"  [hidden]="nameInput1.valid || !nameInput1.errors.required">נדרש שם פרטי</span>
            <span class="error"  [hidden]="lastInput1.valid || !lastInput1.errors.required">נדרש שם משפחה</span>
            <span class="displayValue" [ngClass]="pageMode">{{selected.firstName}} {{ selected.lastName }}</span>
        </p>
        <p>
            <label for="birthday">גיל:</label>
            <mat-form-field *ngIf="pageMode==='editMode'">
                <input matInput [matDatepicker]="picker" id="birthday" [(ngModel)]="selected.birthday" name="birthday"  required>
                <mat-datepicker-toggle  matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <span class="displayValue" [ngClass]="pageMode">{{getAge(selected.birthday)}}</span>
        </p>
        <p>
            <label for="caretaker">מלווה:</label>
            <input type="text" id="caretaker" name="caretaker"  [ngClass]="pageMode" [(ngModel)]="selected.caretaker" />
            
            <span class="displayValue" [ngClass]="pageMode">{{ selected.caretaker }}</span>
        </p>
          
        <p>
            <label for="metaem">מתאם טיפול:</label>
            <input type="text" id="metaem" name="metaem"  [ngClass]="pageMode" [(ngModel)]="selected.metaem" required/>
            
            <span class="displayValue" [ngClass]="pageMode">{{selected.metaem}}</span>
        </p>
        <p>
            <label for="since">תאריך כניסה:</label>
            <mat-form-field *ngIf="pageMode==='editMode'">
                <input matInput [matDatepicker]="picker" id="memberSince" [(ngModel)]="selected.memberSince" name="memberSince"  required>
                <mat-datepicker-toggle  matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <span class="displayValue" [ngClass]="pageMode">{{ getSince(selected.memberSince) }}</span>
        </p>
        <hr>
            <div class="row">
                <div class="col-xs-1">עבודה:</div>
                <label for= "info">פרטים:</label>
                <input type="text" id="info" name="info"  [ngClass]="pageMode" [(ngModel)]="selected.work.info" />
                <span class="displayValue" [ngClass]="pageMode" >
                {{ selected.work.info }}</span>

                <label for= "phone">מס טלפון:</label>
                <input type="number" id="phone" name="phone"  [ngClass]="pageMode" [(ngModel)]="selected.work.phone" />
                <span class="displayValue" [ngClass]="pageMode">
                {{ selected.work.phone }}</span>

                <label for= "location">מיקום:</label>
                <input type="text" id="location" name="location"  [ngClass]="pageMode" [(ngModel)]="selected.work.location" />
                <span class="displayValue" [ngClass]="pageMode">
                {{ selected.work.location }}</span>
        </div>
        <hr>
        <div class="row">
                <div class="col-xs-1">רופאים:</div>
                <label for= "psych">פסיכיאטר: </label>
                <input type="text" id="psych" name="psych"  [ngClass]="pageMode" [(ngModel)]="selected.doctors.psych" />
                <span class="displayValue" [ngClass]="pageMode">{{ selected.doctors.psych }}</span>
                
                <label for= "location">רופא משפחה:</label>
                <input type="text" id="gp" name="gp"  [ngClass]="pageMode" [(ngModel)]="selected.doctors.gp" />
                <span class="displayValue" [ngClass]="pageMode"> {{ selected.doctors.gp }}</span>
        </div>
        <hr>
        <div class="row" *ngFor="let item of selected.contacts; let i=index" >
            <div class="col-xs-1">אנשי קשר:</div>

            <label for= "name">שם:</label>
            <input type="text" id="name" name="name"  [ngClass]="pageMode" [(ngModel)]="selected.contacts[i].name" />
            <span class="displayValue" [ngClass]="pageMode" >
            {{ selected.contacts[i].name }}</span>

            <label for= "rel">קירבה:  </label>
            <input type="text" id="rel" name="rel"  [ngClass]="pageMode" [(ngModel)]="selected.contacts[i].rel" />
            <span class="displayValue" [ngClass]="pageMode">
            {{ selected.contacts[i].rel }}</span>

            <label for= "phone">פרטי התקשרות:  </label>
            <input type="number" id="phone" name="phone"  [ngClass]="pageMode" [(ngModel)]="selected.contacts[i].phone" />
            <span class="displayValue" [ngClass]="pageMode">
            {{ selected.contacts[i].phone }}</span>      
        </div>
    </div>

        <button type="submit" class="editButton" [ngClass]="pageMode" form="viewForm"  [disabled]="viewForm.invalid">שמור שינויים</button>
  
     
  </form> 
  <button class="editButton" [ngClass]="pageMode" (click)="cancelEdit()">לביטול</button>
  <button class="viewButton" [ngClass]="pageMode" (click)="editUser()">ערוך פרטים</button>
  
</div>