

<div id="login">
    
    <div class="container">
        <h1 class="welcome text-center "></h1>
        <div class="card card-container">
            <div class="row">
                <div class="col"><div class="item"> <img src="../../assets/appPic/logo.jpg" style="border: none; width: 100%"></div>
            </div>
        </div>
        <hr>
        <form class="form-signin" #viewForm="ngForm" (ngSubmit)="viewForm.form.valid && login()" novalidate>
            <span id="reauth-email" class="reauth-email"></span>
            <p class="input_title">Email</p>
            <mat-form-field style = "width: 100%">
                <input matInput [formControl]="emailErr"   type="email" id="inputEmail" [(ngModel)]="email" name="email" required autofocus/>
                <mat-error *ngIf="emailErr.invalid" >{{getEmailErrorMessage()}}</mat-error>
            </mat-form-field>
            <p class="input_title">Password</p>
            <mat-form-field style = "width: 100%">
                <input matInput type="password" id="inputPassword"  [(ngModel)]="pass" name="pass" required>
                <span class="error"  [hidden]="!wrongPass" > שגיאה,נסה סיסמה אחרת</span>
            </mat-form-field>
            <button  class="btn btn-lg btn-primary" type="submit">Login</button>
        </form><!-- /form -->
    </div><!-- /card-container -->
</div><!-- /container -->
</div>

