#loginpage{
    background: skyblue;
    min-height: 100vh;
}
form {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display:table;
}
label{
    padding: 12px 12px 12px 0;
    display: table;
}
p     { 
    display: table-row;  
    
}
a{
    text-decoration: none;
    color: black;
}
button{
    padding: 10px;
    margin: 10px;
    text-align: center;
}
input { display: table-cell; }