
.container{
    background: rgba(34,34,34,0.75);
    border-radius: 15px;
    color:white;
    direction: rtl;
    text-align: right;
}
label {
    /* float:right; */
    direction: rtl;
}
input,h1,h2 {
    text-align: right;
    direction: rtl;
}
input[type="text"],textarea[type="text"]
{
    font-size:14px;
}
.form-group{
    text-align: right;
    width: 100%;
}