#calendar
{
    background-color:white;
    opacity: 1;
    border-radius: 15px;   
}
h2{
    text-align: right;
    direction: rtl;
}


/* Same style as the menu bar*/

.BTNbackToWeek{
    background-color:darkgreen; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    box-sizing: border-box;
    font-weight: 500!important;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
#nextbar{
    background-color: darkgreen;
    font-size: 20px;
    margin-top: 15px;
    margin-right: 5px;
}
h3 {
    margin-top: 10px;
    font-size: 35px;
  }
  
  pre {
    
    padding: 15px;
  }


