<div id="calendar" >
	<div id = "backToWeek">
		<div  class="row text-center">
			<div  class="col-md-4">
				<button class="BTNbackToWeek btn font-weight-bold text-right text-white" *ngIf="view!='week'" (click)="backToWeekView()">תצוגה שבועית</button>
			</div>
			<div class="col-md-4">
				<h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'he' }}</h3>
			</div>
			<div class="col-md-4">
				<div class="btn-group">
						<div id="nextbar"
						class="btn font-weight-bold text-right text-white"
						mwlCalendarNextView
						[(view)]="view"
						[(viewDate)]="viewDate"
						(viewChange)="updateCalendarEvents()"
						(viewDateChange)="activeDayIsOpen = false; changeView()">
						הבא
					</div>
					<div id="nextbar"
						class="btn btn-outline-secondary font-weight-bold text-right text-white"
						mwlCalendarToday
						[(viewDate)]="viewDate"
						(viewDateChange)="activeDayIsOpen = false; changeView()"
						>
						היום
					</div>
					<div id="nextbar"
					class="btn btn-outline-secondary font-weight-bold text-right text-white"
					mwlCalendarPreviousView
					[view]="view"
					[(viewDate)]="viewDate"
					(viewDateChange)="activeDayIsOpen = false;changeView()">
					קודם
					</div>
					
			</div>
		</div>
		<br>
	<div  class="col-md-4"></div>
</div>
<br>
<div [ngSwitch]="view">
<mwl-calendar-week-view
	*ngSwitchCase="'week'"
	[viewDate]="viewDate"
	[events]="events"
	[refresh]="refresh"
	[locale]="locale"
	[weekStartsOn]="weekStartsOn"
	[weekendDays]="weekendDays"
	(dayHeaderClicked)="viewDate = $event.day.date; view = 'day'"
	(eventClicked)="eventClicked($event)">
</mwl-calendar-week-view>
<mwl-calendar-day-view
	*ngSwitchCase="'day'"
	[viewDate]="viewDate"
	[events]="events"
	[refresh]="refresh"
	[hourSegments]=1
	[hourSegmentTemplate]="hourSegmentTemplate"
	[dayStartHour]="6"
	(eventClicked)="eventClicked($event)">
</mwl-calendar-day-view>
</div>
</div>
