   <div>
    <div id="head" *ngIf="data.recEvent == false">
        <h2>{{ data.title }}</h2> 
        <div *ngIf="data.asign==true"><h4> <font color= "red"> שים לב! אירוע זה דורש מלווה </font></h4><br></div>

        <h4> ב{{ data.start | date:'fullDate':'':'he'}}  </h4>
        <h4>מתחיל בשעה:   {{ data.start | date:' HH:mm'}} </h4>
        <h4>נגמר בשעה:  {{ data.end | date:' HH:mm'}}</h4>
        <h4>סוג: <font color= {{data.type.color}} > {{ data.type.viewValue}} </font></h4> 
        <br>
        <h4>האירוע הוזן ע"י {{ data.issuer }} </h4>
        
    </div>

    <div id="head" *ngIf="data.recEvent == true">
            <h2>{{ data.title }}</h2> 
            <div *ngIf="data.asign==true"><h4> <font color= "red"> שים לב! אירוע זה דורש מלווה </font></h4><br></div>
    
            <h4> ב{{ data.start | date:'fullDate':'':'he'}}  </h4>
            <h4>מתחיל בשעה:   {{ data.start | date:' HH:mm'}} </h4>
            <h4>נגמר בשעה:  {{ data.end | date:' HH:mm'}}</h4>
            <br>
            
        </div>


</div>

<style> #head {text-align: right;} </style>