<div id="container">
    <router-outlet></router-outlet>
    <footer id="foo" class="page-footer font-small unique-color-dark mt-4 fixed-bottom" >           
          <!-- Copyright -->
        <div class="col-md-8 col-lg-8">
            <div class="text-center text-md-left">© 2018 Copyright: on
                <a class="text-white" href="https://github.com/elchi28/Hostel-Harmony" target="_blank"> github.com</a>
            </div>
        </div>
        <div class="col-md-4 col-lg-4 ml-lg-0">
            <p class="text-center text-md-right"><a class="text-white" href="https://github.com/elchi28/Hostel-Harmony/wiki/User-manual" target="_blank"> מדריך למשתמש</a></p>
        </div>
              <!-- Copyright -->
    </footer>
</div>


