#container{
    background-image: url("../assets/appPic/backpic.jpg");
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    min-height: 100%;
    margin: auto;
    overflow: auto;
    margin-bottom: 28px;
    
}
#container #foo{
    background-color: #176d66a4;
    font-size:12px;
    width: 100%;
    color:white;
}

