<div class="container">
  
  <h1 *ngIf="model.activity!='general-0'">
  הוסף אירוע חדש עבור {{user?.firstName}}
  </h1>
  {{diagnostic}}
  
  <form (ngSubmit)="subEvent()" #eventForm="ngForm">
      <div class="form-group row" style="direction: rtl">
        <div class="col-sm-3">
          <label>
            שעת התחלה:
            <input placeholder="בחר שעה ותאריך..." [owlDateTimeTrigger]="dt12" [owlDateTime]="dt12"
                   [selectMode]="'rangeFrom'" [owlDateTime]="dt4" required [(ngModel)]="model.start" name="start">
            <owl-date-time #dt12></owl-date-time>
          </label>
        </div>
        <div class="col-sm-3">
          <label>
          שעת סיום:
              <input placeholder="בחר שעה ותאריך..." [owlDateTimeTrigger]="dt13" [owlDateTime]="dt13"
                   [selectMode]="'rangeTo'" required [(ngModel)]="model.end" name="end">
              <owl-date-time #dt13></owl-date-time>
          </label>
        </div>
      </div>  
          
      <div class="form-group" *ngIf="model.activity!='general-0'">
        <mat-form-field>
          <mat-select  placeholder="סוג פעילות" (click)="edited=false" [(ngModel)]="model.activity" name="activity">
            <mat-option [style.background]="type.color" *ngFor="let type of types" [value]="type.value">
                {{ type.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="form-group row" style="direction: rtl" *ngIf="model.activity=='add' && !edited">
            <div class="col-sm-2">
              <label for="color" >בחר צבע</label>
              <input [(colorPicker)]="color" [style.background]="color" [cpPosition]="'bottom'" class="form-control" />
            </div>
            <div class="col-sm-4 ">
              <label for="describe" >סוג פעילות</label>
              <input type="text" class="form-control" id="describe" [(ngModel)]="customActivity" name ="cust" >
            </div>
            <div class="col-sm-2" >
              <button id="addButt" type="button" class="btn btn-primary"
                  (click)="addActivity(customActivity,color)" >לחץ להוספת פעילות</button>
            </div>
        </div>
    </div>  
    <div class="form-group" >
        <mat-checkbox  [(ngModel)]="model.asign" name ="asign">ליווי</mat-checkbox>
    </div>
    <div class="form-group" *ngIf="model.activity==='general-0'">
      <mat-radio-group class="example-radio-group" [(ngModel)]="selRecc" name="selRecc" required>
        <label for= "repeat">בחר תדירות האירוע: </label>
        <mat-radio-button class="example-radio-button" *ngFor="let repeat of repeating" [value]="repeat">
              {{repeat}}
        </mat-radio-button>
      </mat-radio-group>
        <span>בחר שעות לאירוע למעלה</span>
        <mat-select *ngIf="selRecc==='חודשי'" placeholder="בחר תאריך קבוע" [(ngModel)]="recEvent.rrule.bymonthday" name="bymonthday">
          <mat-option  *ngFor="let day of days" [value]="day">
              {{ day }}
          </mat-option>
        </mat-select>
        <div *ngIf="selRecc==='שבועי'">
            <div *ngFor="let weekday of weekdayArr" class="example-radio-group" >
                <label>
                    <input type="checkbox"
                           name="checked"
                           value="{{weekday.value}}"
                           [(ngModel)]="weekday.checked"/>
                    {{weekday.name}}
                </label>
            </div>
        </div>
      </div>
    
    <!-- <input type="text" id="nameInput1" name="nameInput1"  [ngClass]="pageMode" [(ngModel)]="selected.firstName" required #nameInput1="ngModel"/>
    <input type="text" id="lastInput1" name="lastInput1"  [ngClass]="pageMode" [(ngModel)]="selected.lastName" required #lastInput1="ngModel"/>
    <span class="error"  [hidden]="nameInput1.valid || !nameInput1.errors.required">נדרש שם פרטי</span>
    <span class="error"  [hidden]="lastInput1.valid || !lastInput1.errors.required">נדרש שם משפחה</span> -->

    <div class="form-group" >
      <label for="describe" >תיאור</label>
      <textarea type="text" class="form-control" id="describe" [(ngModel)]="model.describe" name="describe"></textarea>
    </div>
    <div class="form-group" >
      <div class="col-sm-2 col-sm-offset-10">
        <label for="issuer" >שם ממלא הטופס</label>
        <input type="text" class="form-control col" id="issuer" required #iss="ngModel" [(ngModel)]="model.issuer" name="issuer">
        <span class="error"  [hidden]="iss.valid || !iss.errors.required">נדרש ממלא טופס</span>
      </div>
    </div>
    <button  type="submit" class="btn btn-success btn-block" [disabled]="!eventForm.valid">הזן אירוע</button>
    <button type="button" class="btn btn-success btn-block" routerLink="/menu">חזור לעמוד הראשי</button>
  </form>
</div>