h1{
    font-size: 40px;
    text-align: center;
    direction: rtl;
    
}
label {
    float:right;
}
input {
    direction: rtl;
}

 .form-group{
    text-align: right;
    width: 100%;
}
.inner-td{
    direction: rtl;
    margin-left: 75%;
}
