.container{
    background: rgba(236, 236, 236, 0.75);
    border-radius: 7px;
    color:rgb(10, 4, 4);
    direction: rtl;
    text-align: right;
}
h1{
    font-size: 40px;
    text-align: center;
    direction: rtl;
    
}
label {
    float:right;
}
input,textarea {
    direction: rtl;
}

 .form-group{
    text-align: right;
    width: 100%;
}
.inner-td{
    direction: rtl;
    margin-left: 75%;
}
