.container{
    background: rgba(236, 236, 236, 0.75);
    border-radius: 7px;
    color:rgb(10, 4, 4);
    direction: rtl;
    font-size: 16px;
    text-align: right;
    margin-top: 10px;
}
.error {
    color:red;
  }
.mat-form-field{
    text-align: inherit;
}
#addButt{
    margin:28px 0px 20px 0px;
    font-size: 15px;
}
h1{
    font-size: 40px;
    text-align: center;
    direction: rtl;
    margin: 15px;
    
}
label {
    float:right;
    font-size: 20px;
}
input,textarea {
    direction: rtl;
    font-size: 12px;
}

 .form-group{
    text-align: right;
    width: 100%;
}
.inner-td{
    direction: rtl;
    margin-left: 75%;
}
.example-radio-group {
    display: inline-flex;
    flex-direction: row;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  
  .example-selected-value {
    margin: 15px 0;
  }