<div class="container">
  
  <h1>
  הוסף אירוע חדש עבור {{user?.firstName}}
  </h1>
  
  <form (ngSubmit)="subEvent()" #eventForm="ngForm">
      <div class="form-group row" style="direction: rtl">
        <div class="col-sm-3">
          <label>
            שעת התחלה:
            <input placeholder="בחר שעה ותאריך..." [owlDateTimeTrigger]="dt12" [owlDateTime]="dt12"
                   [selectMode]="'rangeFrom'" [owlDateTime]="dt4" required [(ngModel)]="model.start" name="start">
            <owl-date-time #dt12></owl-date-time>
          </label>
        </div>
        <div class="col-sm-3">
          <label>
          שעת סיום:
              <input placeholder="בחר שעה ותאריך..." [owlDateTimeTrigger]="dt13" [owlDateTime]="dt13"
                   [selectMode]="'rangeTo'" required [(ngModel)]="model.end" name="end">
              <owl-date-time #dt13></owl-date-time>
          </label>
        </div>
      </div>  
          
      <div class="form-group" >
        <mat-form-field>
          <mat-select  placeholder="סוג פעילות" (click)="edited=false" [(ngModel)]="model.activity" name="activity">
            <mat-option [style.background]="type.color" *ngFor="let type of types; let index=i" [value]="type">
                {{ type.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="form-group row" style="direction: rtl" *ngIf="model.activity=='add' && !edited">
            <div class="col-sm-2">
              <label for="color" >בחר צבע</label>
              <input [(colorPicker)]="color" [style.background]="color" [cpPosition]="'bottom'" class="form-control" />
            </div>
            <div class="col-sm-4 ">
              <label for="describe" >סוג פעילות</label>
              <input type="text" class="form-control" id="describe" [(ngModel)]="customActivity" name ="cust" >
            </div>
            <div class="col-sm-2" >
              <button id="addButt" type="button" class="btn btn-primary"
                  (click)="addActivity(customActivity,color)" >לחץ להוספת פעילות</button>
            </div>
        </div>
    </div>  
    <div class="form-group">
        <mat-checkbox  [(ngModel)]="model.asign" name ="asign">ליווי</mat-checkbox>
    </div>

		

		<div class="form-group" >
			<label for="describe" >תיאור</label>
			<textarea type="text" class="form-control" id="describe" [(ngModel)]="model.describe" name="describe"></textarea>
		</div>
		<div class="form-group" >
			<div class="col-sm-2 col-sm-offset-10">
				<label for="issuer" >שם ממלא הטופס</label>
				<input type="text" class="form-control col" id="issuer" required [(ngModel)]="model.issuer" name="issuer">
			</div>
		</div>
		<button  type="submit" class="btn btn-success btn-block" [disabled]="!eventForm.valid">הזן אירוע</button>
		<button type="button" class="btn btn-success btn-block" routerLink="/menu">חזור לעמוד הראשי</button>
	</form>
</div>