<div class="container">
  <h1>Staff Form</h1>
  {{diagnostic}}
  <form #staffForm="ngForm" (ngSubmit)="subStaff(staffForm.value)" >
    <div class="form-group">
      <label for="firstName">שם</label>
      <input type="text" class="form-control" id="firstName"  [(ngModel)]="model.firstName" name="firstName" required>
    </div>

    <div class="form-group">
      <label for="lastName">משפחה</label>
      <input type="text" class="form-control" id="lastName" [(ngModel)]="model.lastName" name="lastName" required>
    </div>

    <div class="form-group">
      <label for="phoneNumber">טלפון</label>
      
      <input type="phone" pattern="[0-9]{10}" class="form-control" id="phoneNumber" [(ngModel)]="model.phoneNumber" name="phoneNumber" required>
      <mat-error *ngIf="!staffForm.valid" >הכנס מספר טלפון*</mat-error>
    </div>

    <div class="form-group">
        <label for="email">E-MAIL</label>
        <mat-form-field>
            <input matInput placeholder="Enter your email" [formControl]="email" id="email" [(ngModel)]="model.email" name="email">
            <mat-error *ngIf="email.invalid" >{{getErrorMessage()}}</mat-error>
          </mat-form-field>
    </div>

    <div class="form-group">
        <label for="birthday">תאריך לידה</label> 
      <mat-form-field>
          
            <input matInput [matDatepicker]="picker" placeholder="בחר תאריך" id="birthday" [(ngModel)]="model.birthday" name="birthday"   required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="form-group">
      <label for="role">תפקיד</label>
      <input type="text" class="form-control" id="role" [(ngModel)]="model.role" name="role">
    </div>

    <button type="submit" class="btn btn-success btn-block" [disabled]="!staffForm.valid || !email.valid">Submit</button>
    <button type="button" class="btn btn-success btn-block" routerLink="/menu">Return</button>
  </form>
</div>
