<div class="container">
  <h1>איש צוות חדש</h1>
  <form #staffForm="ngForm" (ngSubmit)="subStaff(staffForm.value)" >
    <div class="form-group">
      <label for="firstName">*שם</label>
      <input type="text" class="form-control" id="firstName"  [(ngModel)]="model.firstName" name="firstName" required #fn="ngModel">
      <span class="error"  [hidden]="fn.valid || !fn.errors.required">נדרש שם פרטי</span>
    </div>

    <div class="form-group">
      <label for="lastName">*משפחה</label>
      <input type="text" class="form-control" id="lastName" [(ngModel)]="model.lastName" name="lastName" required #ln="ngModel">
      <span class="error"  [hidden]="ln.valid || !ln.errors.required">נדרש שם משפחה</span>
    </div>
    <div class="form-group">
    
    <mat-form-field >
        
        <input matInput placeholder="*הכנס מספר טלפון" [formControl]="phoneNumber" id="phoneNumber" [(ngModel)]="model.phoneNumber" name="phoneNumber">
        <mat-error *ngIf="phoneNumber.invalid" >{{getPhoneErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
        <mat-form-field>
            <input matInput placeholder="*הכנס אימייל" [formControl]="email" id="email" [(ngModel)]="model.email" name="email">
            <mat-error *ngIf="email.invalid" >{{getEmailErrorMessage()}}</mat-error>
          </mat-form-field>
    </div> 
    <div class="form-group">
      <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="*בחר תאריך לידה" id="birthday" [(ngModel)]="model.birthday" name="birthday" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="form-group">
      <label for="role">תפקיד</label>
      <input type="text" class="form-control" id="role" [(ngModel)]="model.role" name="role">
    </div>
    <p><span style="font-size:10px">חובה למלא שדות שמסומנים ב- *</span></p>
    <button type="submit" class="btn btn-success btn-block" [disabled]="!staffForm.valid || !email.valid ||!phoneNumber.valid">הוסף איש צוות</button>
    <button type="button" class="btn btn-success btn-block" routerLink="/menu">חזור לעמוד הראשי</button>
  </form>
</div>
